.orders {
    width: 60%;
    margin: 0 auto;
    /* padding: 20px; */
}

.orders h1 {
    margin: 30px 0;
}

@media (max-width: 786px) {
    .orders {
        width: 90%;
        margin: 0 auto;
        /* padding: 20px; */
    }
}